 
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Spend <sup>1</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDepense"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Dépenses</span>
                </a>
                <div id="collapseDepense" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Mes dépenses</h6>
                        <a type="button" class="collapse-item" data-toggle="modal" data-target="#exampleModalDep">Ajouter une dépense</a>

                        <a class="collapse-item" href="{{url_for('depenses')}}">Liste des dépenses</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Revenus</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Mes revenus</h6>
                        <a type="button" class="collapse-item" data-toggle="modal" data-target="#exampleModal">Ajouter une revenu</a>
                        <a class="collapse-item" href="utilities-border.html">Liste des revenus</a>
                    </div>
                </div>
            </li>

             <!-- Nav Item - Utilities Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link" href="{{url_for('budgets')}}">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Budget</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Options avancées
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Catégories</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Historiques</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="url_for('static', filename='img/undraw_rocket.svg')}}" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div>

<!-- form  ajout revenu -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un revenu</h5>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Intitulé du revenu</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Montant</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div> 
                      <div class="row">
                        <div class="form-group col-6">
                            <label for="message-text" class="col-form-label ">Date de perception (facultatif)</label>
                            <input type="date" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group col-6">
                            <label for="message-text" class="col-form-label">Heure(facultatif)</label>
                            <input type="time" class="form-control" id="recipient-name">
                        </div>
                      </div>
                     
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Annuler</button>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                  </div>
                </div>
              </div>
            </div>
<!-- fin form ajout revenu-->

<!-- form  ajout dépense -->
<div class="modal fade" id="exampleModalDep" tabindex="-1" aria-labelledby="exampleModalLabelDep" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelDep">Ajouter une dépense</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Intitulé de la dépense</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Montant</label>
              <input type="text" class="form-control" id="recipient-name">
            </div> 
            <div class="row">
              <div class="form-group col-6">
                  <label for="message-text" class="col-form-label ">Date </label>
                  <input type="date" class="form-control" id="recipient-name">
              </div>
              <div class="form-group col-6">
                  <label for="message-text" class="col-form-label">Heure(facultatif)</label>
                  <input type="time" class="form-control" id="recipient-name">
              </div>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Annuler</button>
          <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
<!-- fin form ajout dépense-->

<!-- form  ajout budget -->
<div class="modal fade" id="exampleBud" tabindex="-1" aria-labelledby="exampleModalLabelBud" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelDep">Ajouter un budget</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Intitulé du budget</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Montant</label>
            <input type="text" class="form-control" id="recipient-name">
          </div> 
          <div class="row">
            <div class="form-group col-12">
              <label for="message-text" class="col-form-label ">Description</label>
                <textarea name="" id="" cols="48" rows="1" class="for-control" style="max-height: 40px; min-height:40px"></textarea>
            </div>
         </div>
         <div class="row">
          <div class="form-group col-12">
            <label for="message-text" class="col-form-label">Type</label>
            <select name="type" id="type" class="form-control">
              <option value="">Mensuel</option>
              <option value="">Annuel</option>
              <option value="">Hebdomadaire</option>
              <option value="">Période personnalisée</option>
            </select>
           </div>
         </div>
         <div class="row">
          <div class="form-group col-6">
              <label for="message-text" class="col-form-label ">Début de période</label>
              <input type="date" class="form-control" id="recipient-name">
          </div>
          <div class="form-group col-6">
              <label for="message-text" class="col-form-label">Fin de période</label>
              <input type="date" class="form-control" id="recipient-name">
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Annuler</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<!-- fin form ajout budget-->

        </ul>
        <!-- End of Sidebar -->

        